<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<style type="text/css">
    .container {
        background-color: #99CCFF;
        border: thick solid #808080;
        padding: 20px;
        margin: 20px;
    }
</style>

<div class="container">
    <label>Room Id</label>
    <input type="text" id="roomId" />
    <label>Comment</label>
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="button" id="connect" value="Connect" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>





<script type="text/javascript">

    $(document).ready(function () {

        var chat = $.connection.commentHub;


        chat.client.getAllComments = function (data) {
            for (var i = 0; i < data.length; i++) {
                var encodedMsg = $('<div />').text(data[i].Message).html();
                // Add the message to the page.
                $('#discussion').append('&nbsp;&nbsp;' + encodedMsg + '</li>');
            }


        };

        chat.client.getComment = function (data) {
            var encodedMsg = $('<div />').text(data.Message).html();
            // Add the message to the page.
            $('#discussion').append('&nbsp;&nbsp;' + encodedMsg + '</li>');

        };




        $.connection.hub.logging = true;
        $.connection.hub.start().done(function () {
            $('#connect').click(function () {
                var Id = parseInt($('#roomId').val());
                chat.server.joinRoom(Id, "ArticleServiceComment");
            });

            $('#sendmessage').click(function () {
                debugger;

                chat.server.sendComment($('#message').val());

            });
        });
    });
</script>
