<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a>
        </p>
    </div>
</div>


<div>
    <input type="file" multiple name="upload" id="uploadFile" /><br />
    <button id="submit">Загрузить</button>
</div>



<script type="text/javascript">

    $('#submit').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                //                data.append("awards", "1");
                //                data.append("birthPlace", "2");
                //                data.append("called", "2015-12-08T21:00:00.000Z");
                //                data.append("dateBirth", "2015-12-08T21:00:00.000Z");
                //                data.append("dateDeath", "2015-12-08T21:00:00.000Z");
                //                data.append("description", "2");
                //                data.append("firstName", "2");
                //                data.append("lastName", "2");
                //                data.append("latitude", "2");
                //                data.append("longitude", "2");
                //                data.append("middleName", "2");
                //                data.append("troops", "2");

                $.ajax({
                    type: "post",
                    url: '/api/Veteran',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "bearer ICqVO7IlgefpzEQFY5FgCOkt8JzqGJ4540LDOt0tHzM8VFmk7OkkuRk5_lMGeheiJBDPthdbNveIR3Xi8qpHTo3IEp4xrdbssN7_kkIKaLRYEFMhQ6vPKbOr2tNx7zHJ27ahMifdawHoun8ZvK-xBRiGqp2Zo4Apr-al2FjwZi3UajHhEP7U_lbfP8JHhNac7oKya-CLqU28kVGKrET7jCJ43nWNfVxTfHcLZBkk4uAY0_BZ65F6flIZLdBNu-62duk8q8aRWlmHAlOM6BVv2qNpgLyx1Hjzmc1B-hFrOx50B52hTmACujUdwpXfIX_ckeb4EYs5orWmEMHeHTUBw4EOBC0xc8ibQe0pROsxieZXPQLJBmea4Lh8HcxO4uq44nqsnpouW1KGKF6yUn7Wt5DKupkqQkkmHQ0_Pufd2gCu7-1Dt7ZcUGrTTpTFezZtumthPxm1Kb4XMfFcobwWjFMNECMPSaf63Q1zrN39mHeBZ85TBCvPxRR-JjLxFndXpn49bjj3mS2kXLmSrIPb2g");
                    },
                    data: {
                        FirstName: "ssdfsdf"
                    },
                    success: function (result) {
                        alert(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });
</script>